<div class="form-group">
  <label for="answers">Odgovori: </label>
  <button class="btn btn-outline-danger" (click)="removeAnswer()">Izbrisi odgovor</button>
  <select multiple class="form-control" id="answers" [(ngModel)] = "selectedAnswer">
    <option *ngFor="let answer of answers" value="{{answer.answer}}">{{answer.answer}}, {{correctAnswerText(answer.correctAnswer)}}</option>
  </select>
</div>


<div class="form-row align-items-center">
  <div class="col-auto">
    <label class="" for="answer">Odgovor: </label>
  </div>

  <div class="col-lg-8 col-md-6 col-sm-5">
    <input type="text" class="form-control mb-2" id="answer" [(ngModel)]="answer">
  </div>

  <div class="col-auto">
    <div class="form-check mb-2">
      <input class="form-check-input" type="checkbox" id="correctAnswer" [(ngModel)]="correctAnswer" req>
      <label class="form-check-label" for="correctAnswer">
        Tačan odgovor?
      </label>
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-outline-success mb-2" (click)="addAnswer()">Dodaj</button>
  </div>
</div>
