<div class="card">

  <div class="card-body">
    <div class="card-title">
      <h1>Dodaj pitanje</h1>
    </div>
    <div class="container">
      <form>

      <div class="row">

        <div class="col-md-6" [hidden]="hasNewSection">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" id="sectionLabel" for="section">Oblast:</label>
            </div>
            <select class="custom-select" id="section" name="section" [(ngModel)]="existingSection" (change)="checkIfNewSectionIsBeingAdded()">
              <option *ngFor="let section of sections" value="{{section.section}}">{{section.section}}</option>
              <option>{{newSectionOptionText}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6" [hidden]="!hasNewSection">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" id="newSectionLabel" for="newSection">Oblast:</label>
            </div>
            <input class="form-control" id="newSection" placeholder="Klikni da uneses novu oblast" [(ngModel)]="newSection" name="newSection">
            <div class="input-group-append">
              <button class="btn btn-outline-danger" (mouseup)="cancelNewSection()" [disabled]="noSections">Cancel</button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend input-range-label">
              <label for="difficulty" class="input-group-text input-range-label-text">Težina: {{question.difficulty}}</label>
            </div>
            <div class="input-group-append input-range">
              <div class="input-group-text input-range-text">
                <input type="range" class="" id="difficulty" name="difficulty" min="1" max="5" [(ngModel)]="question.difficulty" (ngModelChange)="difficulty=$event">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <!--Question Input-->
        <div class="col-md-12">
          <div class="form-group">
            <label for="question">Pitanje</label>
            <textarea class="form-control" id="question" rows="2" [(ngModel)]="question.question" name="question"></textarea>
          </div>
        </div>
        <!--End of Question Input-->

        <!--Snippet Input-->
        <div class="col-md-12 snippet">
          <label for="snippetCode">Snippet</label> <a (click)="toggleSnippetAreaVisibility()"> ({{hideSnippetAreaText}})</a>
            <ngx-codemirror class="CodeMirror"
              [(ngModel)]="question.snippet"
              [options]="{
              lineNumbers: true,
              theme: 'default',
              mode: 'text/x-java'
            }"
              id="snippetCode"
              name="snippetCode"
              [hidden] = "hideSnippetArea"
            ></ngx-codemirror>
        </div>
        <!--End of Snippet Input-->

        <div class="col-md-12 add-answers">
          <app-add-answers-list></app-add-answers-list>
        </div>

        <div class="col-md-12">
          <button class="btn btn-outline-success btn-block" (click)="submit()">Dodaj</button>
        </div>

      </div>
    </form>
  </div>
  </div>
</div>
