<div class="card">

  <div class="card-body">
    <div class="card-title">
      <h1>Dodaj pitanje</h1>
    </div>
    <div class="container">
      <form>

      <div class="form-group row">

        <!--Section Input-->
        <label for="section" class="col-md-2 col-form-label">Oblast:</label>
        <div class="col-md-4" [hidden]="hasNewSection" >
          <select class="form-control" id="section" name="section" [(ngModel)]="existingSection" (change)="checkIfNewSectionIsBeingAdded()">
            <option *ngFor="let section of sections" value="{{section.section}}">{{section.section}}</option>
            <option>{{newSectionOptionText}}</option>
          </select>
        </div>

        <div class="col-md-3" [hidden]="!hasNewSection">
          <input class="form-control" id="newSection" placeholder="Klikni da uneses novu oblast" [(ngModel)]="newSection" name="newSection">
        </div>
        <div class="col-md-1" [hidden]="!hasNewSection">
          <button class="btn btn-outline-danger" (click)="cancelNewSection()" [disabled]="noSections">Cancel</button>
        </div>
        <!--End of Section Input-->

        <!--Difficulty Input-->
        <label for="difficulty" class="col-md-2 col-form-label">Težina: </label>
        <div class="col-md-1 difficulty"> {{question.difficulty}} </div>
        <div class="col-md-3">
          <input type="range" class="form-control-range" id="difficulty" name="difficulty" min="1" max="5" [(ngModel)]="question.difficulty" (ngModelChange)="difficulty=$event">
        </div>
        <!--End of Difficulty Input-->
      </div>

      <div class="row">

        <!--Question Input-->
        <div class="col-md-12">
          <div class="form-group">
            <label for="question">Pitanje</label>
            <textarea class="form-control" id="question" rows="2" [(ngModel)]="question.question" name="question"></textarea>
          </div>
        </div>
        <!--End of Question Input-->

        <!--Snippet Input-->
        <div class="col-md-12 snippet">
          <label for="snippetCode">Snippet</label> <a (click)="toggleSnippetAreaVisibility()"> ({{hideSnippetAreaText}})</a>
          <ngx-codemirror
            [(ngModel)]="question.snippet"
            [options]="{
              lineNumbers: true,
              theme: 'idea',
              mode: 'text/x-java'
            }"
            id="snippetCode"
            name="snippetCode"
            [hidden] = "hideSnippetArea"
          ></ngx-codemirror>
        </div>
        <!--End of Snippet Input-->

      </div>

        <app-add-answers-list></app-add-answers-list>

      <button class="btn btn-outline-success btn-block" (click)="submit()">Dodaj</button>

    </form>
  </div>
  </div>
</div>
