.row {
  display: flex;
  align-items: center;
  vertical-align: center;
}

.big-checkbox {
  width: 20px;
  height: 20px;
}

textarea {
  font-family: "Droid Sans Mono";
}

.snippet {
  margin-bottom: 3%;
}
